/* STEP Common properties */
:root {
    --width : 900px;
    --spacing : 1rem;
    --color1 : #067790;
    --color2 : #1f0690;
    --color3 : #779006;
    --color4 : #900677;

}

/* STEP General */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 120px;
}

header {
    margin-top: 4rem;
}

footer {
    border: 1px solid var(--color1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Leckerli One', cursive;
    font-weight: bold;
}

h1, h2 {
    color: var(--color1);
}

/* STEP Navbar */
.navbar-brand, .nav-link {
    color: var(--color1) !important;
    font-size: 20px !important;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
